[submodule "spec/espionage"]
	path = spec/espionage
	url = git@github.com:smtlaissezfaire/espionage.git
[submodule "spec/underscore"]
	path = spec/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "spec/jspec"]
	path = spec/jspec
	url = git://github.com/visionmedia/jspec.git
